/*OSNOVA*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

a {
    list-style: none;
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1276px;
    margin: 0 auto;
}

.black {
    color: #2F2E2E;
}

.white {
    color: #FAFAFA;
}

.open {
    display: flex !important;
    flex-direction: column;
}

/*--------------------------------OSNOVA*/
/*-------------------------------TEXT SAMPLE*/
.text-h2 {
    font-weight: 600;
    font-size: 42px;
}

.text-p {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 32px;
}

/*-------------------------------TEXT SAMPLE*/

/* ------------header */
.header {
    padding-top: 47px;
    margin-bottom: 90px;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-flex-nav {
    padding-left: 230px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    display: flex;
}

.header-flex-nav ul {
    display: flex;
    width: 700px;
    padding: 0 40px;
    list-style-type: none;
}

.header-flex-nav li {
    /* display: inline; */
    margin-right: 106px;
}

.header-flex-nav li:last-child {
    margin-right: 0
}

.header-flex-nav a:hover {
    font-weight: bold;
}

.burger-menu {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
    cursor: pointer;
    margin-left: 170px;
}

.burger-menu span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: #000;
}

.burger-menu::before,
.burger-menu::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
    transition: all 0.3s ease 0s;
}

.burger-menu::before {
    top: 0;
}

.burger-menu::after {
    bottom: 0;
}

.burger-menu.active span {
    transform: scale(0)
}

.burger-menu.active::before {
    top: 50%;
    transform: rotate(45deg) translate(0, -50%)
}

.burger-menu.active::after {
    bottom: 50%;
    transform: rotate(135deg) translate(0, -50%)
}

.seacrh-icon img {
    cursor: pointer;
}

/* ---------pic */
.pic {
    margin-bottom: 10px;
}

.text-block {
    width: 691px;
    height: 550px;
    background: linear-gradient(91.1deg, rgba(244, 246, 245, 0.9) -7.89%, rgba(255, 255, 255, 0.9) 132.55%);
    position: absolute;
    margin-top: 95px;
}

.text-block-content {
    padding: 138px 166px 139px 100px;
}

.pic-h2 {
    font-family: 'Playfair Display';
    font-size: 51px;
    line-height: 60px;
    margin-bottom: 10px;
}

.pic-p {
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    line-height: 39px;
}


.main-pic img {
    height: 739px;
    float: right;
}

/* ---------------services */
.services {
    clear: right;
    background: rgba(37, 77, 77, 0.2);
}

.services-h2 {
    padding-top: 16px;
    text-align: center;
    margin-bottom: 50px;
}

.services-flex {
    display: flex;
    justify-content: space-around;
}

.services-flex-item {
    text-align: center;
}

.services-h3 {
    margin-bottom: 10px;
    font-family: 'Playfair Display';
    font-size: 27px;
    line-height: 32px;
}

.services-p {
    font-family: 'Playfair Display';
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 65px;
}

/* -----------about */
.about {
    padding-top: 75px;
}

.about-flex {
    display: flex;
}

.about-flex-pic {
    flex: 1;
}

.about-flex-content {
    flex: 1;
    padding-left: 87px;
    padding-top: 60px;
}


.about-h2 {
    font-family: 'Playfair Display';
    font-size: 51px;
    line-height: 60px;
    margin-bottom: 27px;
}

.about-p {
    font-size: 31px;
    line-height: 36px;
    width: 456px;
    margin-bottom: 36px;
}

.read-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
}

/* -------------projects */
.projects {
    padding-top: 95px;
}

.proj-h2 {
    font-family: 'Playfair Display';
    font-size: 51px;
    line-height: 60px;
    margin-bottom: 71px;
}

.proj-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
}

.proj-grid-item {
    text-align: center;

}


.proj-p {
    padding-top: 13px;
    font-family: 'Playfair Display';
    font-size: 18px;
    line-height: 21px;
}

/* --------------testimonials */
.testimonial {
    padding-top: 90px;
    padding-right: 188px;
    padding-left: 100px;
    padding-bottom: 150px;
}

.test-h3 {
    text-align: center;
}

.test-flex {
    display: flex;
}

.test-flex-item {
    padding-top: 90px;
    display: flex;
    align-items: center;
    margin-right: 130px;
}

.item-img {
    flex: 1;
}

.item-content {
    flex: 3;
    margin-left: 30px;
}


.item-h4 {
    font-family: 'Playfair Display';
    font-size: 28px;
    line-height: 33px;
}

.item-p {
    padding-top: 16px;
    font-size: 17px;
    line-height: 20px;
}

/* -----------footer */
.footer {
    background: #2E2F32;
    padding-bottom: 50px;
}

.footer-flex {
    color: #FAFAFA;
    display: flex;
}

.footer-flex-item {
    padding-top: 47px;
}

.first {
    flex: 2;
    margin-right: 100px;
}

.second {
    flex: 3;
}

.second ul {
    padding: 0;
}

.second ul li {
    list-style-type: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 21px;
    /* or 124% */
}

.third {
    flex: 1;
}

.third iframe {
    padding-top: 20px;
}

.footer-h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

.footer-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    /* or 171% */
    padding-top: 7px;
    margin-bottom: 97px;
}

.footer-socio img {
    margin-right: 30px;
}

/* -----------------media */
@media screen and (max-width:1065px) {
    .header-flex-nav ul {
        display: block;
        margin-left: 20px;
        row-gap: 30px;
        width: 0;
    }

    .header-flex-nav li {
        margin: 0;
        margin-bottom: 30px;
    }

    .header-flex-nav {
        display: none;
        flex-direction: column;
        color: #2E2F32;
        padding: 0;
        margin: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background: linear-gradient(91.1deg, rgba(244, 246, 245, 0.9) -7.89%, rgba(255, 255, 255, 0.9) 132.55%);
        animation: burgerAnimation 0.4s;
    }

    .burger-menu {
        position: fixed;
        display: flex;
        margin-left: 220px;
        padding: 0;
    }

    @keyframes burgerAnimation {
        from {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }

    .text-block {
        width: 100%;
        margin: 0 auto;
    }

    .text-block-content {
        padding: 0;
    }
}

@media screen and (max-width:768px) {
    .proj-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .text-block {
        width: 100%;
    }

    .third iframe,
    .projects,
    .header,
    .testimonial {
        width: 100%;
        padding: 0 20px;
        text-align: center;
    }

    .testimonial {
        width: 100%;
    }

    .test-flex-item {
        padding-top: 20px;
        align-items: center;
        margin-right: 0;
    }

    .item-img img {
        width: 100%;
    }

    .item-content {
        flex: 1;
    }

    .about {
        padding: 0;
        text-align: center;
    }

    .about-flex-content {
        padding: 10px 0;
    }

    .about-p {
        width: 100%;
    }

    .services-flex,
    .test-flex,
    .about-flex,
    .footer-flex {
        flex-direction: column;
        align-items: center;
    }

    .footer-flex-item.first {
        margin-right: 0;
        padding: 10px 20px 0;
    }

    .footer-flex-item {
        text-align: center;
    }

    .footer-p {
        margin-bottom: 10px;
    }

}